body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.header, .feature-board, .feature-form, .footer, .alert-container {
  padding-right: 15px;
  padding-left: 15px;
}

.header {
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 46px;
}

.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.btn-create {
  background-color: #82e3dc;
  border-color: #5adcd2;
  color: #ffffff;
}
.btn-create:hover {
  background-color: #5adcd2;
  border-color: #68dbf6;
  box-shadow: 1px 1px 10px;
  color: #ffffff;
}
.btn-create:active {
  background-color: #68dbf6;
  border-color: #29bee0;
  box-shadow: 1px 1px 5px;
  color: #ffffff;
}
.btn-create:focus {
  color: #ffffff;
}

@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}

.feature-board, .feature-form {
  margin: 40px 0;
}
.feature-board p + h4 {
  margin-top: 28px;
}

.feature-board-item-container {
  padding: 10px;
}
.feature-board-item-container:nth-of-type(even) .feature-board-item {
  background: #d7f4f2
}
.feature-board-item-container:nth-of-type(odd) .feature-board-item {
  background: #fff5de
}
.feature-board-item {
  padding: 15px 10px;
}
.feature-board-item:hover, .feature-board-item:active {
  filter: saturate(2.5);
  transform: scale(1.05);
  transition: 0.25s filter linear, 0.1s transform ease;
}

.feature-board-item > .title-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 10px;
}
.feature-board-item > .title-container > h4 {
  text-align: center;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.feature-board-item > .row {
  margin: 0px;
  padding: 5px;
}

.feature-board-item > .row > p {
  margin-bottom: 0;
}

.feature-board-item > .row:nth-of-type(even) {
  background-color: inherit;
  filter: saturate(2.5);
}

.feature-board-item > .row > p:first-child {
  font-weight: 500;
}

.col-form-label {
  padding-top: 5px;
}

.text-muted.nothing {
  text-align: center;
  color: #bdbdbd;
}

@media screen and (min-width: 768px) {
  .header, .feature-board, .feature-form, .footer, .alert-container {
    padding-right: 0;
    padding-left: 0;
  }
  .header {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 700px) {
  .small-create-btn {
    display: none;
  }
}

@media screen and (max-width: 699px) {
  .large-create-btn {
    display: none;
  }
}
