{% extends "base_layout.html" %}

{% block navbar %}
<div class="header clearfix">
  <nav>
    <div class="nav pull-right">
      <p><a class="btn btn-lg btn-create" href="#" role="button">New Feature Request</a></p>
    </div>
  </nav>
  <h3 class="text-muted">Feature Tracker</h3>
</div>
{% endblock %}

{% block content %}
<div class="row feature-board">
  {% for fr in feature_reqs %}
    <div class="col-md-4 feature-board-item-container">
      <div class="feature-board-item">
        <h4>{{ fr.title }}</h4>
        <p>For: {{ fr.client }}</p>
        <p>Priority: {{ fr.priority }}</p>
        <p>Target Date: {{ fr.due }}</p>
      </div>
    </div>
  {% endfor %}
</div>
{% endblock %}