{% extends "base_layout.html" %}

{% block navbar %}
<div class="header clearfix">
  <h3 class="text-muted">New Feature Request</h3>
</div>
{% endblock %}

{% block content %}
<div class="row feature-form">
  <!-- {% for fr in feature_reqs %}
    <div class="col-md-4 feature-board-item-container">
      <div class="feature-board-item">
        <h4>{{ fr.title }}</h4>
        <p>For: {{ fr.client }}</p>
        <p>Priority: {{ fr.priority }}</p>
        <p>Target Date: {{ fr.due }}</p>
      </div>
    </div>
  {% endfor %} -->
</div>
{% endblock %}