/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.feature-board,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.btn-create {
  background-color: #82e3dc;
  border-color: #5adcd2;
  color: #ffffff;
}

.btn-create:hover {
  background-color: #5adcd2;
  border-color: #68dbf6;
  box-shadow: 1px 1px 10px;
  color: #ffffff;
}

.btn-create:active {
  background-color: #68dbf6;
  border-color: #29bee0;
  box-shadow: 1px 1px 5px;
  color: #ffffff;
}

.btn-create:focus {
  color: #ffffff;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Supporting marketing content */
.feature-board {
  margin: 40px 0;
}
.feature-board p + h4 {
  margin-top: 28px;
}

.feature-board-item-container, .feature-board-item {
  padding: 10px;
}

.feature-board-item {
  height: 200px;
}
.feature-board-item-container:nth-of-type(even) .feature-board-item {
  background: #d7f4f2
}
.feature-board-item-container:nth-of-type(odd) .feature-board-item {
  background: #fff5de
}
.feature-board-item:hover {
  filter: saturate(2.5);
  transform: scale(1.05);
  transition: 0.25s filter linear, 0.1s transform ease;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .feature-board,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
