{% extends "bootstrap/base.html" %}
{% block title %}Feature Tracker{% endblock %}
{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('static', filename='styles/main.css')}}">
{% endblock %}

{% block body %}
<div class="container">

  {% block navbar %}
  {% endblock %}

  {% block content %}
  {% endblock %}


  {%block footer %}
    <footer class="footer">
      <p><a class="text-muted footer-link" href="#" role="button">Return to top of page</a></p>
    </footer>
  {% endblock %}

</div> <!-- /container -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.2/knockout-min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/knockout-validation/2.0.3/knockout.validation.min.js"></script>
<script src="{{url_for('static', filename='models.js')}}"></script>
{% endblock %}