{% extends "base_layout.html" %}

{% block navbar %}
<div class="header clearfix">
  <nav>
    <div class="nav pull-right">
      <p><a class="btn btn-lg btn-create" href="{{ url_for('new_request') }}" role="button">New Feature Request</a></p>
    </div>
  </nav>
  <h3 class="text-muted">Feature Tracker</h3>
</div>
{% endblock %}

{% block content %}
<div class="row feature-board">
  {% for fr in feature_reqs %}
    <div class="col-md-4 feature-board-item-container">
      <div class="feature-board-item">
        <div class="title-container">
          <h4>{{ fr.title }}</h4>
        </div>
        <div class="row">
          <p class="col-md-5">Client:</p>
          <p class="col-md-7">{{ fr.client }}</p>
        </div>
        <div class="row">
          <p class="col-md-5">Priority:</p>
          <p class="col-md-7">{{ fr.priority }}</p>
        </div>
        <div class="row">
          <p class="col-md-5">Target:</p>
          <p class="col-md-7">{{ fr.due }}</p>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
{% endblock %}