{% extends "base_layout.html" %}

{% block navbar %}
<div class="header clearfix">
  <nav>
    <div class="nav pull-right">
      <p><a class="btn btn-lg btn-create" href="{{ url_for('new_request') }}" role="button">New Feature Request</a></p>
    </div>
  </nav>
  <h3 class="text-muted">Feature Tracker</h3>
</div>
{% endblock %}

{% block content %}
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <div class="row">
      {% for category, message in messages %}
        {% if category == 'message' %}
          <div class="alert alert-success"><strong>Success!</strong> {{ message }}</div>
        {% elif category == 'error' %}
          <div class="alert alert-danger"><strong>Whoops!</strong> {{ message }}</div>
        {% endif %}
      {% endfor %}
    </div>
  {% endif %}
{% endwith %}
<div class="row feature-board" id="feature-board">
  <div class="col-md-12" data-bind="visible: features().length === 0">
    <h4 class="text-muted nothing">Nothing to display</h3>
  </div>
  <!-- ko foreach: features -->
    <div class="col-md-4 feature-board-item-container">
      <div class="feature-board-item">
        <div class="title-container">
          <h4 data-bind="text: title"></h4>
        </div>
        <div class="row">
          <p class="col-md-5">Client:</p>
          <p class="col-md-7" data-bind="text: client"></p>
        </div>
        <div class="row">
          <p class="col-md-5">Priority:</p>
          <p class="col-md-7" data-bind="text: priority"></p>
        </div>
        <div class="row">
          <p class="col-md-5">Target:</p>
          <p class="col-md-7" data-bind="text: target_date"></p>
        </div>
      </div>
    </div>
  <!-- /ko -->
</div>
<script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.2/knockout-min.js"></script>
<script src="{{url_for('static', filename='models.js')}}"></script>
{% endblock %}
