{% extends "base_layout.html" %}

{% block navbar %}
<div class="header clearfix">
  <h3 class="text-muted">New Feature Request</h3>
</div>
{% endblock %}

{% block content %}
<div class="row feature-form">
  <form>
    <div class="form-group row">
      <label for="title-input" class="col-md-2 col-form-label">Title</label>
      <div class="col-md-10">
        <input class="form-control" type="text" id="title-input" placeholder="A short, descriptive name">
      </div>
    </div>
    <div class="form-group row">
      <label for="featureDesc" class="col-md-2 col-form-label">Description</label>
      <div class="col-md-10">
        <textarea class="form-control" id="featureDesc" rows="4" placeholder="Include all the details you have here."></textarea>
      </div>
    </div>
    <div class="form-group row">
      <label for="clientSelect" class="col-md-2 col-form-label">Client</label>
      <div class="col-md-10">
        <select class="form-control" id="clientSelect">
          <option>Client A</option>
          <option>Client B</option>
          <option>Client C</option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label for="priorityInput" class="col-md-2 col-form-label">Priority</label>
      <div class="col-md-10">
        <input type="number" id="priorityInput" min="1" step="1"/>
      </div>
    </div>
    <div class="form-group row">
      <label for="targetDate" class="col-md-2 col-form-label">Target Date</label>
      <div class="col-md-10">
        <input class="form-control" type="date" value="2011-08-19" id="targetDate">
      </div>
    </div>
    <div class="form-group row">
      <label for="areaSelect" class="col-md-2 col-form-label">Product Area</label>
      <div class="col-md-10">
        <select class="form-control" id="areaSelect">
          <option>Policies</option>
          <option>Billing</option>
          <option>Claims</option>
          <option>Reports</option>
        </select>
      </div>
    </div>
    <button type="submit" class="btn btn-lg btn-create pull-right">Submit</button>
  </form>
</div>
{% endblock %}

{%block footer %}
  <footer class="footer">
    <p><a class="text-muted footer-link" href="{{ url_for('index') }}" role="button">Back</a></p>
  </footer>
{% endblock %}