{% extends "base_layout.html" %}

{% block navbar %}
<div class="header clearfix">
  <h3 class="text-muted">New Feature Request</h3>
</div>
{% endblock %}

{% block content %}
<div class="row feature-form" id="feature-form">
  <form action="{{ url_for('submit_request') }}" data-bind="submit: checkValidity" method="POST">
    <div class="form-group row">
      <label for="title-input" class="col-md-2 col-form-label">Title</label>
      <div class="col-md-10">
        <input class="form-control" type="text" id="title-input" name="title" placeholder="A short, descriptive name" data-bind="value: title">
      </div>
    </div>
    <div class="form-group row">
      <label for="feature-desc-textarea" class="col-md-2 col-form-label">Description</label>
      <div class="col-md-10">
        <textarea class="form-control" id="feature-desc-textarea" name="desc" rows="6" placeholder="Include all the details you have here." data-bind="value: desc"></textarea>
      </div>
    </div>
    <div class="form-group row">
      <label for="client-select" class="col-md-2 col-form-label">Client</label>
      <div class="col-md-10">
        <select class="form-control" id="client-select" name="client" data-bind="value: client">
          <option selected disabled hidden></option>
          <option>Client A</option>
          <option>Client B</option>
          <option>Client C</option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label for="priority-select" class="col-md-2 col-form-label">Priority</label>
      <div class="col-md-10">
        <select class="form-control" id="priority-select" name="priority" data-bind="value: priority, disable: disablePriority, options: priorityOptions, optionsCaption: ''">
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label for="target-date" class="col-md-2 col-form-label">Target Date</label>
      <div class="col-md-10">
        <input class="form-control" type="date" id="target-date" name="target" data-bind="value: target_date">
      </div>
    </div>
    <div class="form-group row">
      <label for="area-select" class="col-md-2 col-form-label">Product Area</label>
      <div class="col-md-10">
        <select class="form-control" id="area-select" name="area" data-bind="value: area">
          <option selected disabled hidden></option>
          <option>Policies</option>
          <option>Billing</option>
          <option>Claims</option>
          <option>Reports</option>
        </select>
      </div>
    </div>
    <button type="submit" class="btn btn-lg btn-create pull-right">Submit</button>
  </form>
</div>
{% endblock %}

{%block footer %}
  <footer class="footer">
    <p><a class="text-muted footer-link" href="{{ url_for('index') }}" role="button">Back</a></p>
  </footer>
{% endblock %}